# Overrides for Docker settings

[Service]
# need blank to kill inherited:
ExecStart=
ExecStart=/usr/bin/dockerd --dns {{docker.dns}} --storage-driver {{docker.storage}} {{docker.opts|default("")}} -H fd://
