{%- if localdns_bogus is defined -%}
BOGUS={{localdns_bogus | join(',')}}
{% endif %}
{%- if localdns_cnames is defined -%}
CNAMES={{localdns_cnames | join(',')}}
{% endif %}
{%- if localdns_servers is defined -%}
SERVERS={{localdns_servers | join(',')}}
{% endif %}
LOOP=dev
PORT=53
RESOLV=/etc/resolv.conf.upstream
SELF=self
