[Unit]
Description=Parcellite (clipboard manager)

[Service]
ExecStart=/bin/parcellite -d
Restart=on-failure
Environment=DISPLAY=:0
StandardError=null

[Install]
WantedBy=default.target
